.app__result-heading {
    text-transform: capitalize;
    align-items: center;
    justify-content: center;
    padding: 5rem 0rem 0rem 5rem;
    color: #F2CFA5;
    font-weight: bold;
    font-size: 43px;
    font-family: 'Ubuntu', sans-serif;
}

.app__result-ingredient_box {
    display: flex;
    padding: 4rem 0rem 0rem 5rem;
    position: relative;
    flex-wrap: wrap;
}

.app__result-recipe{
    margin-top: 2rem;
    display: block;
    font-size: 18px;
    color: aliceblue;
    text-decoration: none;
    padding:2rem 3rem 4rem 3rem;
    margin-left: 2rem;
    display: flex;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
}