.app__recipe-box {
  position: absolute;
  padding: 3rem;
}

.app__recipe-heading {
  padding-top: 4rem;
  padding-left: 6rem;
  color: #f2cfa5;
  font-weight: bold;
  font-size: 60px;
  font-family: "Ubuntu", sans-serif;
}

.app__recipe-ingredients {
  padding-left: 6rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 5rem;
}

.app__recipe-button {
  font-family: "Ubuntu", sans-serif;
  background-color: #f2cfa5;
  color: black;
  text-decoration: none;
  border: 2px solid transparent;
  font-weight: bold;
  padding: 10px 25px;
  border-radius: 30px;
  font-size: 0.9rem;
}

.app__recipe-inputbox {
  margin-top: 2rem;
  position: relative;
  margin: 3rem 0 1rem 6rem;
  width: 520px;
  border-bottom: 2px solid #f2cfa5;
  display: flex;
}

.app__recipe-inputbox label {
  position: absolute;
  top: 50%;
  font-family: "Ubuntu", sans-serif;
  left: 5px;
  transform: translateY(-50%);
  color: #d4cece;
  font-size: 0.9em;
  font-weight: bold;
  pointer-events: none;
  transition: 0.5s;
}

input:focus ~ label,
input:valid ~ label {
  top: -5px;
}

.app__recipe-inputbox input {
  width: 100%;
  height: 50px;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1em;
  color: #f2cfa5;
}

.app__recipe-inputbox ion-icon {
  right: 8px;
  color: #fff;
  font-size: 1.2em;
  top: 20px;
}

.btn-boundary {
  margin-top: 2rem;
  margin-left: 6rem;
  margin-bottom: 2rem;
}

.btn-Generate {
  background-color: #f2cfa5;
  color: black;
  text-decoration: none;
  border: 2px solid transparent;
  font-weight: bold;
  padding: 11px 40px;
  border-radius: 10px;
  font-family: "Ubuntu", sans-serif;
  margin-bottom: 2rem;
  display: flex;
}

.btn-Generate:hover {
  transition: 0.4s;

  background-color: transparent;
  color: aliceblue;
  text-decoration: none;
  border: 2px solid transparent;
  font-weight: bold;
  padding: 11px 40px;
  border-radius: 15px;
  border-color: #f2cfa5;
}

.app__recipe-add {
  background-color: transparent;
  border-radius: 10px;
  border-bottom-right-radius: 0px;
  color: #f2cfa5;
  text-decoration: none;
  font-weight: bold;
  border: none;
  font-size: 1rem;
  /* border: 2px solid #f2cfa5; */
  padding: 11px 20px;
  font-family: "Ubuntu", sans-serif;
  justify-content: center;
  justify-self: end;
}
.app__recipe-add:hover {
  background-color: #f2cfa5;
  border-radius: 10px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  color: black;
  text-decoration: none;
  font-weight: bold;
  border: none;
  font-size: 1rem;
  padding: 11px 20px;
  font-family: "Ubuntu", sans-serif;
  justify-content: center;
  justify-self: end;
  box-shadow: #fff;
}

.app__recipe-input {
  display: flex;
}

.app__recipe-adddiv {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  /* margin-bottom: 0.2rem; */
  margin-left: 1rem;
}

.app__recipe-note {
  font-size: 0.9rem;
  color: #f2cfa5;
  font-family: "Ubuntu", sans-serif;
  /* display: flexbox; */
  align-items: start;
  padding-bottom: 1.5rem;
  /* position: absolute; */
  margin-left: 6rem;
  margin-top: 4rem;
}
