.app__bg {
  height: 100vh;
  width: 100%;
  background: url("../assets/home.jpg");
  background-size: cover;
  background-position: center;
  background-color: rgba(0, 0, 0, 0.9);
  position: relative;
}

.app__box {
  position: relative;
  border-style: inset;
  background: rgba(0, 0, 0, 0.7);
  /* padding-left: 35px; */
  top: 5rem;
  /* padding-top: 50px; */
  width: 90%;
  align-items: center;
  margin-left: 5%;
  /* margin-right: 5%; */
  /* margin-bottom: 10%; */
  /* margin-top: 10%; */
  border: 20px;
  border-radius: 10px;
}

.design_box1 {
  display: flex;
  position: absolute;
  background-color: #f2cfa5;
  height: 15px;
  /* margin-top: 10rem; */
  width: 150px;
  /* margin-left: 5.5rem; */
  z-index: 5;
}

.design_box2 {
  display: flex;
  position:absolute;
  z-index: 10;
  background-color: #f2cfa5;
  height: 150px;
  /* margin-top: 10rem; */
  width: 15px;
  /* margin-left: 5rem; */
}

.design_box3 {
  bottom: 0;
  right: 0;
  display: flex;
  position: absolute;
  background-color: #f2cfa5;
  height: 15px;
  /* margin-left: 92.58rem; */
  /* margin-top: 45.5rem; */
  width: 150px;
  z-index: 5;
}

.design_box4 {
  bottom: 0;
  right: 0;
  position: absolute;
  display: flex;
  z-index: 10;
  background-color: #f2cfa5;
  height: 150px;
  /* right: 10px; */
  /* top: 20px; */
  width: 15px;
}
