
  @import url('https://fonts.googleapis.com/css2?family=Anton&family=Montserrat:wght@700&family=Ubuntu:wght@300;400;500;700&display=swap');



@font-face {
  font-family: 'KioskSans';
  src: url("../fonts/kiosk-sans.otf") format("opentype");
}
@font-face {
  font-family: 'KioskSans1';
  src: url("../fonts/kiosk.otf") format("opentype");
}

:root::-webkit-scrollbar {
  width: 0;  /* Remove scrollbar space */
  background: transparent;
  display: none;
}

/* font-family: 'Ubuntu', sans-serif; */

:root {
  --font-base: 'Ubuntu',sans-serif;
  --font-alt: 'Open Sans', sans-serif;

  --color-golden: #DCCA87;
  --color-black: #0C0C0C;
  --color-gray: #545454;
  --color-crimson: #F5EFDB;
  --color-grey: #AAAAAA;
  --color-white: #FFFFFF;
}