* {
    padding: 0;
    margin: 0;
    /* font-family: 'FONTSPRING DEMO - Kiosk Sans'; */
    box-sizing: border-box;
}

nav {
    width: 100%;
    z-index: 1;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 3.5rem;
    padding-left:10%;
    padding-right: 3%;

}

nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 10px 30px;
}

nav ul li a {
    color: aliceblue;
    text-decoration: none;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 600;
    font-size: 15px;
    
}

nav ul li a:hover {
    color: #F2CFA5;
    transition:ease 0.4s;
}

.btn-LOGIN {
    background-color: transparent;
    color: aliceblue;
    text-decoration: none;
    border: 1.5px solid transparent;
    font-family:'Ubuntu', sans-serif;
    font-weight: 600;
    font-size: 14px;
    padding: 10px 25px;
    border-radius: 15px;
    border-color: #F2CFA5;
}

.btn-LOGIN:hover {
    color: black;
    background-color:#F2CFA5 ;
    transition: 0.4s;
}

.btn-SIGNUP {
    align-items: center;
    background-color: #F2CFA5;
    color: black;
    text-decoration: none;
    border: 1.5px solid transparent;
    font-family:'Ubuntu', sans-serif;
    padding: 10px 25px;
    border-radius: 15px;
    font-weight: 600;
    font-size: 14px;
    margin-left: 1rem;
}

.btn-SIGNUP:hover {
    color: white;
    transition: 0.4s;
    background: transparent;
    border: 1.5px solid transparent;
    border-color:#F2CFA5 ;
}



.app__navbar-button{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
