
.app__newsletter-heading {

  margin-left: 8rem;
}
.news_letters {
  padding-top: 8rem;
  font-family: "Ubuntu", sans-serif;
  color: #f2cfa5;
  font-weight: bold;
  font-size: 60px;
}
.Down_newsletters {
  word-spacing: 2px;
  font-family: "Ubuntu", sans-serif;
  font-weight: 600;
  font-size: 18px;
  color: aliceblue;
  text-decoration: none;
  /* border-radius: 10px; */
}

.app__subscribe-inputbox {
  display: flex;
  /* justify-items: center; */
  align-items: flex-start;
  margin: 3rem 0rem 0rem 8rem;
}

.app__newsletter-button {
  background-color: #f2cfa5;
  color: black;
  text-decoration: none;
  border: 2px solid transparent;
  font-weight: bold;
  padding: 15px 30px;
  border-radius: 15px;
  font-family: "Ubuntu", sans-serif;
  display: flex;
  align-items: flex-start;
  margin-top: 10px;
}

.app__newsletter-button:hover {
  /* color: white; */
  transition: 0.3s;

  background-color: transparent;
  color: aliceblue;
  text-decoration: none;
  border: 2px solid transparent;
  font-weight: bold;
  padding: 15px 30px;
  border-radius: 15px;
  border-color: #f2cfa5;
}
.app__newsletter-emailbox {
  display: flex  ;
  border: 2px solid #f2cfa5;
  font-family: "Ubuntu", sans-serif;
  font-size: 17px;
  padding: 2rem;
  /* border-color: #F2CFA5; */
  border-radius: 10px;
  background-color: black;
  color: #f2cfa5;
  width: 80%;
  margin-right: 1.7rem;
  padding-right: 2rem;
  height: 50px;
  margin-bottom: 15rem;
  
}
